# Environment
NODE_ENV=development
PORT=8000
BASE_URL=http://localhost:8000
ALLOW_OPENAPI=true

# Turso Database
DATABASE_URL=
DATABASE_AUTH_TOKEN=

# Authentication
BETTER_AUTH_SECRET=

# Polar Integration
POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL=
POLAR_PRO_PRODUCT_ID=
POLAR_PRO_SLUG=

# CORS
CORS_ORIGIN=

# Rate limiter
RATE_LIMIT_MODE=memory
# REDIS_URL=redis://redis:6379

# Google Integration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# AI
GOOGLE_GENERATIVE_AI_API_KEY=

# Resend API
RESEND_API_KEY=

# Slack
SLACK_NOTIFICATION_URL=

# Logging
ENABLE_FILE_LOGGING=false
LOG_FILE_PATH=